snippet <> "element" A
<$1>
    $2
</$1>$0
endsnippet

snippet <img "image" A
<img src="{{ url_for('static', filename='$1') }}" alt="$1">$0
endsnippet

snippet html "html" bA
<!DOCTYPE html>
<html>
	$1
</html>
endsnippet



